@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");
@import "tailwindcss";
* {
  font-family: "Gabarito", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #5055e5;
}
